alembic==1.13.2
annotated-types==0.7.0
anyio==4.4.0
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
fastapi==0.110.3
greenlet==3.0.3
h11==0.14.0
idna==3.7
jwt==1.3.1
Mako==1.3.5
MarkupSafe==2.1.5
passlib==1.7.4
pycparser==2.22
pydantic==2.6.4
pydantic_core==2.16.3
PyJWT==2.8.0
PyMySQL==1.1.1
sniffio==1.3.1
SQLAlchemy==2.0.31
starlette==0.37.2
typing_extensions==4.12.2
unicorn==2.0.1.post1
uvicorn==0.30.3